@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Bold.ttf") format("ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.ttf") format("ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Italic.ttf") format("ttf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Regular.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-width: 1400px;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #293449;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* button */

.button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.button-nav {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.button-primary {
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 4px;
}

.button-secondary {
  background-color: #63a63e;
  border-radius: 4px;
}

.button-tertiary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 0;
  color: #32425c;
  background-color: #ffffff;
  border: 2px solid #63a63e;
  border-radius: 2px;
}

/* input */

.input {
  font-family: "PT Sans", sans-serif;
}

/* link */

.link {
  font-style: normal;
  color: #293449;
  text-decoration: none;
}

/* list */

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* text */

.text-s {
  font-size: 14px;
  line-height: 18px;
}

.text-m {
  font-size: 16px;
  line-height: 24px;
}

.text-l {
  font-size: 18px;
  line-height: 24px;
}

.text-bold {
  font-weight: 700;
}

/* title */

.title {
  margin: 0;
  text-transform: uppercase;
}

.title-l {
  font-size: 36px;
  line-height: 42px;
}

.title-m {
  font-size: 24px;
  line-height: 30px;
}

.title-s {
  font-size: 20px;
  line-height: 26px;
  text-transform: none;
}

/* header */

.index-header_light {
  background-color: #f3f7f9;
}

.index-header_dark {
  background-color: #293449;
}

.index-header_semi-dark {
  background-color: #3d546f;
}

.header-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  margin: 0 auto;
}

.header-description {
  width: 580px;
  margin: 13px 0;
  font-style: italic;
  font-weight: 400;
  color: #ee3643;
}

.header-address {
  display: flex;
  align-items: center;
  gap: 31px;
}

.header-address-description {
  margin: 0;
  font-style: normal;
  color: #32425c;
}

.header-phone-link {
  line-height: 18px;
}

.link-logo {
  position: absolute;
  top: 0;
  z-index: 2;
}

.form-search {
  margin-left: 220px;
}

.input-form-search {
  width: 716px;
  padding: 11px 0 10px 53px;
  background-color: transparent;
  border: none;
}

.input-form-search::placeholder {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
}

.entry-list {
  display: flex;
}

.entry-link,
.entry-personal-area-link {
  color: #f1f5f7;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  padding: 0;
}

.navigation-link {
  display: inline-block;
  padding: 19px 4px 27px;
  color: #ffffff;
}

.navigation-item:not(:last-child):not(:last-child) {
  margin-right: 37px;
}

.button-order {
  padding: 12px 10px;
}

/* store */

.store-wrapper {
  width: 1170px;
  padding: 52px 0 50px;
  margin: 0 auto;
}

.store-list {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(3, auto);
  gap: 27px 30px;
  margin: 0 auto;
}

.store-item {
  padding: 20px 37px 33px 25px;
  color: #ffffff;
}

.store-item_yellow {
  background-color: #ffbf47;
}

.store-item_blue {
  background-color: #3bbce3;
}

.store-item_lilac {
  background-color: #dc91d8;
}

.store-item_green {
  background-color: #8ed78f;
}

.store-item-slider {
  position: relative;
  grid-column: 1/3;
  grid-row: 2/-1;
  padding: 0;
}

.slider-list {
  grid-row: 2/-1;
}

.store-item-title {
  margin-bottom: 57px;
}

.slider-title {
  margin-bottom: 10px;
}

.slider-description {
  margin: 0 0 179px;
  padding: 0;
}

.slider-item {
  padding: 20px 20px 40px 50px;
}

.slider-item-drills {
  background-image: url("../images/backgroung/drills-background.jpg");
  background-color: #764e42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slider-item-perforator {
  background-image: url("../images/backgroung/perforator-background.jpg");
  background-color: #222222;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.button-store-list {
  display: inline-block;
  padding: 11px 12px 11px 28px;
  width: 180px;
  letter-spacing: 1px;
  border: 1px solid #ffffff;
}

.slider-item .button-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 195px;
  padding: 13px 0 14px;
  font-size: 14px;
  line-height: 18px;
}

.slider-pagination-list {
  position: absolute;
  bottom: 10px;
}

/* products */

.products-wrapper {
  display: grid;
  grid-template-columns: 220px 876px;
  column-gap: 74px;
  width: 1170px;
  padding: 0 0 53px;
  margin: 0 auto;
}

.products-title {
  grid-column: 1/-1;
  margin-bottom: 26px;
}

.filters-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form-range-bar {
  margin-bottom: 40px;
}

.form-range-bar_title {
  margin-bottom: 8px;
}

.form-checkbox,
.form-radio {
  margin-bottom: 45px;
}

.form-checkbox_title {
  margin-bottom: 16px;
}

.form-radio_title {
  margin-bottom: 18px;
}

.filters-text {
  color: #000000;
}

.button-filters-submit {
  width: 220px;
  border: 2px solid #3d546f;
}

.products-sorting {
  width: 280px;
  padding: 8px 0 8px 16px;
  font-family: "PT Sans", sans-serif;
  border-radius: 2px;
  border: 1px solid #3d546f;
}

.products-cards-list {
  display: grid;
  grid-template-columns: repeat(3, 270px);
  gap: 29px 33px;
  margin-bottom: 32px;
}

.products-cards-img {
  margin-bottom: 14px;
}

.products-cards-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px 27px 23px;
}

.products-cards-title {
  margin-bottom: 11px;
  text-align: center;
}

.products-old-price {
  margin-bottom: 11px;
  font-weight: 700;
  color: #a9a9a9;
  letter-spacing: 2px;
}

.button-buy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  padding: 11px 0;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  mask: url("../images/control/product-button.svg");
    -webkit-mask: url("../images/control/product-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ee3643;
}

.products-pagination-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-pagination-item:not(:last-child) {
  margin-right: 8px;
}

.products-pagination-item:last-child {
  margin-left: 9px;
}

.button-show-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 195px;
  padding: 14px 0 13px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.products-pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 45px;
  font-weight: 700;
  color: #ffffff;
  background-color: #3d546f;
  border-radius: 2px;
}

.products-pagination-link_current {
  color: #3d546f;
  background-color: #ffffff;
}

.services {
  padding: 52px 0 53px;
  background-color: #f4f7f9;
}

.services-wrapper {
  width: 1170px;
  margin: 0 auto;
}

.services-title {
  font-family: "Fira Sans", sans-serif;
  margin: 0 auto 30px;
  text-align: center;
}

.services-description {
  width: 560px;
  margin: 0 auto 64px;
  text-align: center;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  gap: 30px;
}

.services-item {
  padding: 160px 35px 74px 31px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.services-item-title {
  margin-bottom: 21px;
  color: #32425c;
}

.services-item-description {
  margin: 0;
}

/* index-wrapper */

.index-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  padding: 52px 0 49px;
}

.about-us {
  width: 500px;
}

.about-us-title,
.contacts-title {
  margin-bottom: 23px;
  font-family: "Fira Sans", sans-serif;
}

.about-us-description {
  margin: 0 0 52px;
}

.button-about-us {
  padding: 14px 45px 13px;
}

/* footer */

.main-footer_semi-dark {
  color: #ffffff;
  background-color: #32425c;
}

.main-footer_dark {
  background-color: #293449;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
}

.footer-phone-link {
  color: #ffffff;
}

.footer-social-list {
  margin: 0;
  padding: 0;
}

.footer-feedback-description,
.footer-copyright-description {
  margin: 0;
  padding: 21px 0;
  color: #ffffff;
}

.footer-feedback-link,
.footer-copyright-link {
  color: #ffd180;
}
