@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-width: 1400px;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #293449;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* button */

.button {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.button-nav {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.button-primary {
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 4px;
}

.button-primary:hover {
  background-color: #ca2c37;
}

.button-primary:active {
  background-color: #ba2732;
}

.button-secondary {
  background-color: #63a63e;
  border-radius: 4px;
}

.button-secondary:hover {
  background-color: #5fbb2d;
}

.button-secondary:active {
  background-color: #518534;
}

.button-tertiary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 0;
  color: #32425c;
  background-color: #ffffff;
  border: 2px solid #63a63e;
  border-radius: 2px;
}

.button-tertiary:hover {
  border-color: #3d546f;
}

.button-tertiary:active {
  color: #c5c5c5;
  border-color: #c5c5c5;
}

/* input */

.input {
  font-family: "PT Sans", sans-serif;
}

.input:invalid:not(:placeholder-shown) {
  border: 1px solid #ee3643;
}

.input:invalid:not(:placeholder-shown):hover {
  outline: 1px solid #ee3643;
}

.input:disabled {
  color: #808080;
  background-color: rgba(241, 245, 247, 0.5);
}

/* link */

.link {
  font-style: normal;
  color: #293449;
  text-decoration: none;
}

/* list */

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* text */

.text-s {
  font-size: 14px;
  line-height: 18px;
}

.text-m {
  font-size: 16px;
  line-height: 24px;
}

.text-l {
  font-size: 18px;
  line-height: 24px;
}

.text-bold {
  font-weight: 700;
}

/* title */

.title {
  margin: 0;
  text-transform: uppercase;
}

.title-l {
  font-size: 36px;
  line-height: 42px;
}

.title-m {
  font-size: 24px;
  line-height: 30px;
}

.title-s {
  font-size: 20px;
  line-height: 26px;
  text-transform: none;
}

/* header */

.index-header_light {
  background-color: #f3f7f9;
}

.index-header_dark {
  background-color: #293449;
}

.index-header_semi-dark {
  background-color: #3d546f;
}

.header-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  margin: 0 auto;
  padding-right: 3px;
}

.header-description {
  width: 580px;
  margin: 13px 0 13px 2px;
  font-style: italic;
  font-weight: 400;
  color: #ee3643;
}

.header-address {
  display: flex;
  align-items: center;
  gap: 31px;
}

.header-address-description {
  margin: -2px 2px 0 0;
  font-style: normal;
  color: #32425c;
}

.header-phone-link {
  position: relative;
  padding-left: 24px;
  line-height: 18px;
}

.header-phone-link:hover {
  opacity: 0.6;
}

.header-phone-link:active {
  opacity: 0.3;
}

.header-phone-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url("../images/control/phone.svg");
}

.link-logo {
  position: absolute;
  top: 0;
  z-index: 2;
}

.link-logo:hover {
  opacity: 0.6;
}

.link-logo:active {
  opacity: 0.3;
}

.form-search {
  position: relative;
  margin-left: 220px;
}

.button-search {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  z-index: 1;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url("../images/control/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

.input-form-search {
  width: 716px;
  padding: 11px 0 10px 53px;
  color: #ffffff;
  background-color: #293449;
  border: none;
}

.input-form-search[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.input-form-search:focus {
  color: #293449;
  background-color: #f1f5f7;
  outline: none;
}

.input-form-search:focus + .button-search {
  background-image: url("../images/control/search-dark.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}

.input-form-search::placeholder {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
}

.input-form-search:focus::placeholder {
  color: #c5c5c5;
}

.entry-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.authorized .entry-list_unauthorized {
  display: none;
}

.authorized .navigation-list_authorized {
  display: flex;
}

.navigation-list_unauthorized {
  margin-top: -8px;
}

.authorized .navigation-list_unauthorized {
  display: none;
}

.authorized .entry-list_authorized {
  display: flex;
}

.entry-list_unauthorized {

  width: 200px;
}

.entry-list_authorized {
  display: none;
}

.entry-link,
.exit-link {
  position: relative;
  padding-left: 15px;
  font-size: 14px;
  line-height: 18px;
  color: #f1f5f7;
}

.entry-link:hover,
.exit-link:hover {
  opacity: 0.6;
}

.entry-link:active,
.exit-link:active {
  opacity: 0.3;
}

.entry-link_unauthorized {
  padding-left: 26px;
}

.entry-link-personal-area {
  position: relative;
  padding-left: 24px;
  color: #ffffff;
}

.entry-link-personal-area::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
  background-image: url("../images/control/user.svg");

}

.entry-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
  background-image: url("../images/control/login.svg");
}

.exit-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  transform: translateY(-50%) rotate(180deg);
  background-image: url("../images/control/login.svg");
}

.entry-personal-area-item_authorized:not(:last-child) {
  margin-right: 10px;
}

.entry-personal-area-item_authorized:not(:first-child) {
  margin-left: 10px;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  padding: 0;
}

.navigation-link {
  display: inline-block;
  padding: 19px 4px 27px;
  color: #ffffff;
}

.navigation-link:hover {
  color: #c5c5c5;
  background-color: #32425c;
}

.navigation-link:active {
  font-weight: 700;
  color: #ffffff;
  background-color: #32425c;
}

.navigation-item:not(:last-child):not(:last-child) {
  margin-right: 38px;
}

.button-order {
  min-width: 170px;
  margin-right: 3px;
  padding: 12px 10px 12px 13px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
}

.navigation-item_personal-area {
  display: flex;
  align-items: center;
  min-width: 42px;
  height: 42px;
}

.button_personal-area {
  display: flex;
  align-items: center;
  gap: 6px;
}

.button_personal-area:hover {
  opacity: 0.6;
}

.button_personal-area:active {
  opacity: 0.3;
}

.navigation-list_authorized {
  display: none;
  margin-top: -8px;
}

.navigation-list_authorized .navigation-item_personal-area:not(:last-child) {
  margin-right: 20px;
}

.navigation-list_authorized .navigation-item_personal-area:first-child {
  margin-right: 23px;
}

.hidden {
  display: none;
}

.popover {
  position: absolute;
  top: 13px;
  right: 3px;
  z-index: 10;
  width: 360px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.button-close {
  position: absolute;
  top: 19px;
  right: 19px;
  display: block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url("../images/control/close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-close:hover {
  opacity: 0.8;
}

.button-close:active {
  opacity: 0.6;
}

.popover-entry {
  padding: 23px 29px 35px 31px;
}

.title-autorization {
  margin-bottom: 45px;
}

.form-autorization {
  display: grid;
  grid-template-columns: repeat(2, 145px);
  column-gap: 5px;
}

.form-autorization-login,
.form-autorization-password {
  grid-column: 1/-1;

}

.input-autorization {
  width: 300px;
  padding: 8px 0 6px 14px;
  font-size: 16px;
  line-height: 24px;
  color: #556981;
  border: 1px solid #c5c5c5;
  border-radius: 2px;
}

.form-autorization-label {
  position: relative;
  display: block;
}

.form-autorization-label:hover {
  cursor: pointer;
}

.form-autorization-label:last-of-type {
  margin-bottom: 38px;
}

.input-autorization::placeholder {
  color: #cccccc;
}

.input-autorization:hover {
border-color: #63a63e;
}

.input-autorization:focus {
border-color: #63a63e;
outline: 1PX solid #ffbf47;
}

.input-login {
  margin-bottom: 7px;
}

.input-password {
  margin-bottom: 9px;
}

.forgot-password-link {
  grid-column: 2/-1;
  margin: 4px 0 0 12px;
}

.remember-text {
  margin-left: 38px;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.checkbox-remember-input-hidden {
  display: flex;
  align-items: center;
}

.checkbox-remember-input {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  width: 21px;
  height: 21px;
  background-image: url("../images/control/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox-remember-input-hidden[type="checkbox"]:checked + .checkbox-remember-input {
  background-image: url("../images/control/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form-autorization-label:hover .checkbox-remember-input {
  background-image: url("../images/control/checkbox-off-hover.svg");
}

.checkbox-remember-input-hidden[type="checkbox"]:checked:hover + .checkbox-remember-input {
  background-image: url("../images/control/checkbox-on-hover.svg");
}

.forgot-password-link {
  margin-top: 5px;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.button-login {
  width: 145px;
  padding: 0 26px 0 45px;
  margin-left: -6px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: url("../images/control/login.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center left 25px;
}

.button-registration {
  width: 145px;
  margin-left: -5px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.popover-personal-area {
  padding: 22px 53px 33px 31px;
}

.title-welcome {
  color: #000000;
  margin-bottom: 30px;
}

.popover-personal-area-list {
  margin-bottom: 22px;
}

.popover-personal-area-item:not(:last-child) {
  margin-bottom: 17px;
}

.popover-personal-area-link {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #3d546f;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.button-exit {
  width: 145px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* store */

.store-wrapper {
  width: 1170px;
  padding: 52px 0 50px;
  margin: 0 auto;
}

.store-list {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(3, auto);
  gap: 27px 30px;
  margin: 0 auto;
  color: #ffffff;
}

.store-item {
  padding: 20px 37px 33px 25px;
  overflow: hidden;
}

.store-item_new {
  position: relative;
}

.store-item_new::before {
  content: "New";
  position: absolute;
  top: 8px;
  right: -27px;
  transform: rotate(45deg);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #ee3643;
}

.store-item_yellow {
  background-color: #ffbf47;
}

.store-item_blue {
  background-color: #3bbce3;
}

.store-item_lilac {
  background-color: #dc91d8;
}

.store-item_green {
  background-color: #8ed78f;
}

.store-item_materials {
  background-image: url("../images/icons/materials-white.svg");
  background-repeat: no-repeat;
  background-position: right 43px center;
}

.store-item_tools {
  background-image: url("../images/icons/tools-white.svg");
  background-repeat: no-repeat;
  background-position: right 38px top 54px;
}

.store-item_technique {
  background-image: url("../images/icons/technique-white.svg");
  background-repeat: no-repeat;
  background-position: right 38px top 54px;
}

.store-item_discount {
  background-image: url("../images/icons/discount-white.svg");
  background-repeat: no-repeat;
  background-position: right 38px top 54px;
}

.store-item_delivery {
  background-image: url("../images/icons/delivery-white.svg");
  background-repeat: no-repeat;
  background-position: right 37px top 46px;
}

.store-item-slider {
  position: relative;
  grid-column: 1/3;
  grid-row: 2/-1;
  padding: 0;
}

.slider-list {
  grid-row: 2/-1;
}

.store-item-title {
  margin-bottom: 57px;
}

.slider-title {
  margin-bottom: 10px;
}

.slider-description {
  margin: 0 0 179px;
  padding: 0;
}

.slider-item {
  position: relative;
  padding: 50px 20px 40px 50px;
}

.slider-item-drills {
  background-image: url("../images/backgroung/drills-background.jpg");
  background-color: #764e42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slider-item-perforator {
  background-image: url("../images/backgroung/perforator-background.jpg");
  background-color: #222222;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.button-store-list {
  position: relative;
  display: inline-block;
  padding: 11px 12px 9px 28px;
  width: 180px;
  letter-spacing: 2px;
  border: 1px solid #ffffff;
}

.button-store-list:hover {
  opacity: 0.6;
}

.button-store-list:active {
  opacity: 0.3;
}

.button-store-list::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url("../images/control/arrow-right-white.svg");
}

.button-slider {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgba(41, 52, 73, 0.6);
  border-radius: 50%;
}

.button-slider:hover {
  opacity: 0.6;
}

.button-slider:active {
  opacity: 0.3;
}

.button-slider_prev {
  top: 46%;
  left: 20px;
  transform: rotate(180deg);
  background-image: url("../images/control/arrow-right-big.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-slider_next {
  top: 46%;
  right: 20px;
  background-image: url("../images/control/arrow-right-big.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slider-item .button-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 195px;
  padding: 13px 0 14px;
  font-size: 14px;
  line-height: 18px;
}

.slider-pagination-list {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 8px;
}

.slider-pagination-link {
  display: block;
  width: 8px;
  height: 8px;
  background-color: #ffd180;
  border-radius: 50%;
}

.slider-pagination-link_current {
  background-color: #ffffff;
}

/* products */

.products-wrapper {
  display: grid;
  grid-template-columns: 220px 876px;
  column-gap: 74px;
  width: 1170px;
  padding: 0 0 53px;
  margin: 0 auto;
}

.products-title {
  font-family: "Fira Sans";
  grid-column: 1/-1;
  margin-bottom: 26px;
}

.filters-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filters-background {
  margin-bottom: 7px;
  padding: 19px 20px;
  background-color: #f7f3ec;
  border-radius: 2px;
}

.range-scale {
  position: relative;
  width: 180px;
  height: 2px;
  background-color: #3d546f;
}

.range-bar {
  position: absolute;
  width: 75px;
  height: 2px;
  background-color: #5fbb2d;
}

.button-range {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 2px solid #3d546f;
  border-radius: 50%;
}

.button-range:hover {
  background-color: #518534;
}

.button-range:active {
  background-color: #5fbb2d;
}


.button-range-min {
  left: 0;
}

.button-range-max {
  left: 70px;
}

.price-wrapper {
  width: 95px;
  padding: 11px 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #293449;
  text-align: center;
  background-color: #f7f3ec;
  border: 1px solid transparent;
  border-radius: 2px;
  appearance: textfield;
}

.price-wrapper:hover {
  border-color: #63a63e;
}

.price-wrapper:focus {
  border-color: #63a63e;
  outline: 1px solid #ffbf47;
}

.price-wrapper::-webkit-outer-spin-button,
.price-wrapper::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-range-list {
  display: flex;
  justify-content: space-between;
}

.catalog-range-item {
  position: relative;
}

.catalog-range-item:first-child::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -19px;
  transform: translateY(-50%);
  width: 8px;
  height: 1px;
  background-color: #293449;
}

.form-range-bar {
  margin-bottom: 40px;
}

.form-range-bar_title {
  margin: 0 0 8px -1px;
}

.form-checkbox,
.form-radio {
  margin-bottom: 46px;
}

.form-checkbox_title {
  margin: 0 0 17px -1px;
}

.form-radio_title {
  margin: 3px 0 21px 3px;
}

.filters-text {
  margin-left: 36px;
  color: #000000;
}

.checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.radio-list {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-left: 5px;
}

.checkbox-label,
.radio-label {
  position: relative;
  display: block;
}

.checkbox-label:hover,
.radio-label:hover {
  cursor: pointer;
}

.checkbox-input {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 21px;
  height: 21px;
  background-image: url("../images/control/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox-input-hidden[type="checkbox"]:checked + .checkbox-input {
  background-image: url("../images/control/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox-label:hover .checkbox-input {
  background-image: url("../images/control/checkbox-off-hover.svg");
}

.checkbox-input-hidden[type="checkbox"]:checked:hover + .checkbox-input {
  background-image: url("../images/control/checkbox-on-hover.svg");
}

.checkbox-input-hidden[type="checkbox"]:disabled + .filters-text,
.radio-input-hidden[type="radio"]:disabled + .filters-text {
  opacity: 0.4;
}

.checkbox-input-hidden[type="checkbox"]:disabled + .checkbox-input {
  background-image: url("../images/control/checkbox-off-disabled.svg");
}

.checkbox-input-hidden[type="checkbox"]:checked:disabled + .checkbox-input {
  background-image: url("../images/control/checkbox-on-disabled.svg");
}

.radio-input-hidden:focus-visible + .radio-input,
.checkbox-input-hidden:focus-visible + .checkbox-input {
  outline: 2px solid #ffbf47;
}

.radio-input {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  background-image: url("../images/control/radio-off.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.radio-input-hidden[type="radio"]:checked + .radio-input {
  background-image: url("../images/control/radio-on.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.button-filters-submit {
  width: 220px;
  padding: 12px 65px 6px 66px;
  border: 2px solid #3d546f;
}

.catalog-products-wrapper {
  padding-top: 32px;
}

.products-sorting {
  width: 280px;
  margin: 0 0 31px 5px;
  padding: 7px 0 7px 16px;
  font-family: "PT Sans", sans-serif;
  background-image: url("../images/control/arrow-down-selector.svg");
  background-repeat: no-repeat;
  background-position: center right 11px;
  border-radius: 2px;
  border: 1px solid #3d546f;
  appearance: none;
}

.products-sorting:hover {
  border: 1px solid #63a63e;
  cursor: pointer;
}

.products-sorting:focus {
  background-image: url("../images/control/arrow-down-selector-green.svg");
  background-repeat: no-repeat;
  background-position: center right 17px;
  border: 1px solid #63a63e;
  outline: 1px solid #ffbf47;
}

.products-cards-list {
  display: grid;
  grid-template-columns: repeat(3, 270px);
  gap: 29px 33px;
  margin-bottom: 32px;
}

.products-cards-img {
  margin-bottom: 14px;
}

.products-cards-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px 27px 23px;
  overflow: hidden;
}

.products-cards-item_hover {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  flex-direction: column;
  gap: 11px;
  padding: 27px 40px 62px 33px;
  background-color: rgba(255, 255, 255, 0.90);
}

.products-cards-item:hover {
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.25);
  transition: ease 0.5s;
}

.products-cards-item:hover .products-cards-item_hover {
  display: flex;
}

.products-cards-item_button-buy {
  position: relative;
  width: 135px;
  padding: 11px 23px 11px 46px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  background-color: #63a63e;
  border-radius: 2px;
}

.products-cards-item_button-buy:hover {
  background-color: #5fbb2d;
}

.products-cards-item_button-buy:active {
  background-color: #518534;
}

.products-cards-item_button-favorites {
  padding: 9px 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.products-cards-item_button-buy::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 23px;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background-image: url("../images/control/basket-white-small.svg");
}

.products-cards-title {
  margin-bottom: 11px;
  text-align: center;
}

.products-old-price {
  margin-bottom: 15px;
  font-weight: 700;
  color: #a9a9a9;
  letter-spacing: 2px;
}

.products-old-price_hidden {
  visibility: hidden;
}

.button-buy {
  display: flex;
  align-items: center;
  width: 138px;
  padding: 11px 0 11px 28px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  mask: url("../images/control/product-button.svg");
    -webkit-mask: url("../images/control/product-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ee3643;
}

.button-buy:hover {
  background-color: #ca2c37;
}

.products-cards-item:focus-within .products-cards-item_hover {
  display: flex;
}

.button-buy:active {
  background-color: #ba2732;
}

.products-pagination-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
}

.products-pagination-item:not(:last-child) {
  margin-right: 8px;
}

.products-pagination-item:last-child {
  margin-left: 9px;
}

.button-show-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 195px;
  padding: 14px 0 13px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 2px;
}

.products-pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 45px;
  font-weight: 700;
  color: #ffffff;
  background-color: #3d546f;
  border-radius: 2px;
}

.products-pagination-link:hover {
  opacity: 0.6;
}

.products-pagination-link:active {
  opacity: 0.3;
}

.products-pagination-link_current {
  color: #3d546f;
  background-color: #ffffff;
}

.services {
  padding: 52px 0 53px;
  background-color: #f4f7f9;
}

.services-wrapper {
  width: 1170px;
  margin: 0 auto;
}

.services-title {
  font-family: "Fira Sans", sans-serif;
  margin: 0 auto 30px;
  text-align: center;
}

.services-description {
  width: 560px;
  margin: 0 auto 64px;
  text-align: center;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  gap: 30px;
}

.services-item {
  padding: 160px 31px 50px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.services-item_delivery {
  background-image: url("../images/icons/delivery-red.svg");
  background-repeat: no-repeat;
  background-position: top 37px left 33px;
}

.services-item_discount {
  background-image: url("../images/icons/discount-red.svg");
  background-repeat: no-repeat;
  background-position: top 29px left 33px;
}

.services-item_materials {
  background-image: url("../images/icons/materials-red.svg");
  background-repeat: no-repeat;
  background-position: top 29px left 37px;
}

.services-item-title {
  margin-bottom: 21px;
  color: #32425c;
}

.services-item-description {
  margin: 0;
  color: #000000;
}

.services-item-description_discount {
  margin-left: 3px;
}

/* index-wrapper */

.index-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  padding: 52px 0 43px;
}

.about-us {
  width: 500px;
}

.about-us-title,
.contacts-title {
  margin-bottom: 23px;
  font-family: "Fira Sans", sans-serif;
}

.about-us-description:not(:last-of-type) {
  margin: 0 0 25px;
}

.about-us-description:last-of-type {
  margin: 0 0 51px;
}

.button-about-us {
  padding: 14px 0 13px;
  width: 195px;
  margin-left: 1px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 2px;
}

.contacts-link {
  display: block;
}

.contacts-link:hover {
  opacity: 0.6;
}

.contacts-link:active {
  opacity: 0.3;
}

.contacts-description {
  margin-bottom: 30px;

}
/* footer */

.main-footer_semi-dark {
  padding: 0 0 27px;
  color: #ffffff;
  background-color: #32425c;
}

.main-footer_dark {
  background-color: #293449;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
}

.footer-logo-link {
  display: inline-block;
  margin-bottom: 15px;
}

.footer-logo-link:hover {
  opacity: 0.6;
}

.footer-logo-link:active {
  opacity: 0.3;
}


.footer-address-description {
  font-style: normal;
  margin: 0 0 1px;
}

.footer-phone-link {
  display: inline-block;
  margin-bottom: 21px;
  color: #ffffff;
}

.footer-social-list {
  display: flex;
  gap: 5px;
  margin: 0;
  padding: 0;
}

.footer-wrapper_right {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 15px;
}

.form-subscribe {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 260px;
  flex-wrap: wrap;
}

.footer-copyright-description {
  margin: 0;
  padding: 21px 0;
  color: #ffffff;
}

.footer-feedback-link {
  margin-bottom: 29px;
}

.footer-feedback-link,
.footer-copyright-link {
  color: #ffd180;
}

.input-subscribe {
  width: 220px;
  padding: 9px 16px 11px;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid #63a63e;
  border-radius: 2px;
}

.input-subscribe::placeholder {
  font-size: 14px;
  line-height: 18px;
  color: #bdbdbd;
}

.button-subscribe {
  width: 40px;
  height: 40px;
  background-color: #63a63e;
  background-image: url("../images/control/basket-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
}

.button-subscribe:hover {
  background-color: #5fbb2d;
}

.button-subscribe:active {
  background-color: #518534;
}

.footer-feedback-description {
  margin: 0;
}

.subscribe-label {
  margin-bottom: 3px;
}

.footer-social-link path:first-of-type {
  fill: #ffffff;
  opacity: 0.1;
}

.footer-social-link:hover path:first-of-type {
  fill: #293449;
  opacity: 1;
}

.footer-feedback-link:hover,
.footer-copyright-link:hover {
  color: #ffbf47;
  text-decoration: underline;
}

.footer-feedback-link:active,
.footer-copyright-link:active {
  opacity: 0.6;
}
