@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Bold.ttf") format("ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.ttf") format("ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Italic.ttf") format("ttf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Regular.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-width: 1400px;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #293449;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* button */

.button-nav {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* link */

.link {
  font-style: normal;
  color: #293449;
  text-decoration: none;
}

/* list */

.list {
  margin: 0;
  list-style-type: none;
}

/* text */

.text-s {
  font-size: 14px;
  line-height: 18px;
}

.text-m {
  font-size: 16px;
  line-height: 24px;
}

.text-bold {
  font-weight: 700;
}

/* header */

.header-wrapper_light {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 44px;
  padding: 0 118px 0 117px;
  background-color: #f3f7f9;
}

.header-description {
  width: 580px;
  margin: 0;
  font-style: italic;
  font-weight: 400;
  color: #ee3643;
}

.header-address {
  display: flex;
  align-items: center;
  gap: 31px;
}

.header-address-description {
  margin: 0;
  font-style: normal;
  color: #32425c;
}

.header-phone-link {
  line-height: 18px;
}

.header-wrapper_dark {
  background-color: #293449;
}

.entry-link,
.entry-personal-area-link {
  color: #f1f5f7;
}

.header-wrapper_semi-dark {
  background-color: #3d546f;
}
